.card {
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  font-weight: 600;
  height: fit-content;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  .card_img {
    height: 30rem;
  }
  .card_info {
    padding: 1.6rem 3.5rem;
  }
  .card_title {
    text-align: center;
    margin-top: -3rem;
  }
  .bottom_card {
    width: 180px;
    display: flex;
    flex-direction: row;
    padding: 4px;
    line-height: 1.2;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
  }
}
