$xs: 320px; // Extra small devices (phones)
$sm: 576px; // Small devices (tablets)
$md: 768px; // Medium devices (desktops)
$lg: 992px; // Large devices (desktops)
$xl: 1200px;
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* box-shadow: 1px 1px 10px 1px #ddd; */
  /* margin-bottom: 1rem; */
  /* max-width: 300px; */
  padding: 2rem 0;
  /* position: relative; */
  width: 70%;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  @media (max-width: $md) {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
  .card_logo {
    text-align: center;
    display: block;
    font-size: 6rem;
    color: #e43f40;
    margin-bottom: 1rem;
  }
  .card_title {
    text-align: center;
    margin-top: 0.1rem;
    font-size: 2rem;
  }
  .bottom_card {
    // padding: 1.6rem 3.5rem;

    // width: 180px;
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
    line-height: 1.2;
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
  }
}
