$xs: 320px; // Extra small devices (phones)
$sm: 576px; // Small devices (tablets)
$md: 768px; // Medium devices (desktops)
$lg: 992px; // Large devices (desktops)
$xl: 1200px;

.card_slider {
  background-color: #e43f40;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-radius: 8px;
  padding: 3rem;
  overflow: hidden;
  overflow-x: scroll;
  flex-grow: 1;
  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }

  /* overflow-x: hidden; */
}
.card_slider::-webkit-scrollbar {
  display: none;
}
.sof {
  h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #e43f40;
  }
}
