$xs: 320px; // Extra small devices (phones)
$sm: 576px; // Small devices (tablets)
$md: 768px; // Medium devices (desktops)
$lg: 992px; // Large devices (desktops)
$xl: 1200px;

@media (max-width: $sm) {
  /* Styles for small devices */
}

@media (max-width: $lg) {
  /* Styles for large devices */
}

@media (min-width: $xl) {
  /* Styles for extra large devices */
}

.pricingcard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  // height: 100vh;
  padding: 2rem;
  overflow: auto;
  @media (max-width: $md) {
    /* Styles for small devices */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.oSM {
  text-align: center;
  margin: 3rem 0;
  text-align: center;
  font-size: 3.5rem;
  color: #e43f40;
  @media (max-width: $md) {
    /* Styles for small devices */
    margin: 3rem 0 1rem;
  }
}

.wrapper {
  width: 600px;
  color: black;
  margin: 0 auto;
  // height: 100vh;
  padding: 2rem;
  @media (max-width: $sm) {
    /* Styles for small devices */
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #e43f40;
    font-size: 5rem;
  }
  .accordion-wrapper {
    & + * {
      margin-top: 0.5em;
    }
  }

  .accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }

  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }

  .accordion-title {
    font-weight: 600;
    cursor: pointer;
    color: #666;
    padding: 0.5em 1.5em;
    border: solid 1px #ccc;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid currentColor;
    }

    &:hover,
    &.open {
      color: black;
    }

    &.open {
      &::after {
        content: '';
        border-top: 0;
        border-bottom: 5px solid;
      }
    }
  }

  .accordion-content {
    padding: 1em 1.5em;
  }
}
